{erl_opts, [debug_info]}.
{deps, [{cowboy, {git, "http://github.com/ninenines/cowboy.git", {tag, "2.4.0"}}},
        {erlang_ale, {git, "http://github.com/wfvining/erlang_ale.git", {ref, "37827e2"}}}]}.
{shell, [{apps,[ranch, cowlib, cowboy]}]}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src"}]}.